.container {
    margin-bottom: 4rem;
}

.title {
    margin-left: .6rem;
}

.carousel {
    margin-top: 1rem;
}

.carousel:global.slick-slider > button.slick-arrow.slick-prev {
    left: -5rem !important;
    width: 30px;
    height: 30px;
}

.carousel:global.slick-slider button.slick-arrow.slick-prev::before {
    font-size: 30px;
}

.carousel:global.slick-slider button.slick-arrow.slick-next {
    right: -5rem !important;
    width: 30px;
    height: 30px;
}

.carousel:global.slick-slider button.slick-arrow.slick-next::before {
    font-size: 30px;
}

.slideItem {
    display: flex !important;
    justify-content: center;
    align-content: center;
    outline: none;
    position: relative;
}

.imageOverlay {
    height: 100%;
    position: absolute;
    transition: .3s;
}

.imageOverlay:hover {
    background-color: rgba(1, 1, 1, .2);
    cursor: pointer;
}

.bigSlider {
    width: 100%;
}