.introContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.introText {
    margin: 0 10rem;
}

.frontContainer {
    display: flex;
    justify-content: center;
}

.frontInnerContainer {
    max-width: 80vw;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 4rem 0;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
}

.contentGroup {
    padding-top: 7rem;
}