.container {
    background-color: rgba(255, 255, 255, 0.5);
    height: 4rem;
    display: flex;
    justify-content: center;
}

.innerContainer {
    background-color: rgba(155, 155, 155, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 80vw;
}